{% extends "base.html" %}
{% load static %}
{% block title %} {% endblock %}
{% block stylesheet %}

{% endblock %}
{% block profile %} {% endblock %}

{% block content %}
<div class="container">
    <table class="table table-bordered table-hover ">
        {% if categories %}
        <thead class="bg-success text-center">
        <tr>
            <td>Category</td>

        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a class="text-info" href="{% url 'topic' name=category.name %}">{{ category.name }}</a></td>

            </tr>
        {% endfor %}

        </tbody>
        {% else %}
        <h1 class="text-danger display-5 text-center">You have no Categories</h1>
        {% endif %}
    </table>
</div>
{% endblock %}
{% block script %} {% endblock %}