{% extends "base.html" %}
{% load static %}
{% block title %}Welcome to my blog {% endblock %}
{% block stylesheet %}

		{% endblock %}

{% block content %}

{% if messages %}
<div class="messages">
	{% for message in messages %}
	<div class="alert alert-warning text-center" role="alert">
		<div {% if message.tags %} class="{{ message.tags }} "{% endif %}><strong>{{ message }}</strong></div>
	</div>

	{% endfor %}
</div>
{% endif %}

	<!-- END #fh5co-header -->

{% for post in posts %}

	<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
		<figure>
			<a  href="{% url 'single_post' id=post.id %}"><img src="{{ post.image.url }}" alt="Image" class="img-responsive "></a>
		</figure>
		<span class="fh5co-meta"><a href="{% url 'topic' name=post.category %}">{{ post.category }} </a></span>
		<h2 class="fh5co-article-title"><a href="{% url 'single_post' id=post.id %}">{{ post.title }}</a></h2>
		<h4 ><a href="{% url 'author' name=post.article_author.name %}" class="text-success">{{ post.article_author.name.get_full_name }}</a></h4>
		<span class="fh5co-meta fh5co-date">{{ post.posted_on }}</span>
	</article>



{% endfor %}
	</div><!-- closing div of base html -->


	<div class="container bg-info">
		<div class="pagination">
			<span class="step-links">
				{% if posts.has_previous %}
					<a class="btn btn-success" href="?page=1" role="button">&laquo; first</a>
					<a class="btn btn-success" href="?page={{ posts.previous_page_number }}" role="button">previous</a>
				{% endif %}

				<span class="current">
					Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
				</span>

				{% if posts.has_next %}
					<a class="btn btn-success" href="?page={{ posts.next_page_number }}" role="button">next</a>
					<a class="btn btn-success" href="?page={{ posts.paginator.num_pages }}" role="button">last &raquo;</a>
				{% endif %}
			</span>
		</div>

{% endblock %}
{% block script %}
{% endblock %}



